<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jq.js"></script>
    <title>Deja Vu: list</title>
    <style type="text/css">
        body {
            background-color: #888;
        }

        .search input[type="text"] {
            border-top: none;
            border-left:none;
            border-right:none;
            border-bottom:1px solid orangered;
            background:none;
        }
    </style>
</head>
<body>

<div class="search">

</div>


<script type="text/javascript" src="/static/js/search.js"></script>
</body>
</html>