<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jq.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/helpers.js"></script>
    <title>Deja Vu {% block subtitle %}{% endblock %}</title>
     <link rel="stylesheet" type="css/text" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="css/text" href="/static/css/style.css" />
    {% block morestyles %}{% endblock %}
</head>
<body>

<div class="row">
<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
<div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="/static/title.png" class="img-responsive" /></div></div>
	<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
	<div class="navi col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="/list"><h1>SEARCH</h1></a></div></a>
	<div class="navi col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="/upload"><h1>UPLOAD</h1></a></div></a>
	<div class="navi col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="/about"><h1>ABOUT</h1></a></div></a>
	</div>
	
	<div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	{% block content %}{% endblock %}
	</div></div>
</div>
</div>

</body>
</html>